---
# 01. Data Extraction: 망고 플레이트 
---

In [99]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
import time

In [100]:
title = ""
name = [] 
details_site = []

address   = []
food_type = []
star_rating  = []
phone_number = []

In [101]:
for page in range(9):
    url  = f"https://www.mangoplate.com/search/%EC%82%AC%ED%95%98%EA%B5%AC%20%ED%95%98%EB%8B%A8%EB%8F%99%20?keyword=%EC%82%AC%ED%95%98%EA%B5%AC%20%ED%95%98%EB%8B%A8%EB%8F%99&page={page+1}"
    req  = Request(url, headers={"User-Agent": "Chrome"})
    time.sleep(4)

    html = urlopen(req)
    mang = BeautifulSoup(html, "html.parser")
    
    # 상위 태그
    list_soup = mang.find_all('div', 'info')

    for item in list_soup:
        details_site.append(item.find("a")["href"])
        value = item.find('h2', 'title').text

        for i in range(len(value)):
            if(value[i] != "\n"):
                title = title + value[i]
            else:
                break
        name.append(title)
        title = ""
        
    for i in details_site:
        url = "https://www.mangoplate.com" + i
        req = Request(url, headers={"User-Agent": "Chrome"})

        html = urlopen(req)
        mang = BeautifulSoup(html, "html.parser")

        # 상위 태그
        list_soup = mang.find_all('tr', 'only-desktop')

        count = 0
        # 음식점 주소 & 전화번호 정보 둘 다 있는 경우 
        if(len(list_soup) == 2):
            for i in list_soup:
                if(count == 0):
                    adr = i.find("span", "Restaurant__InfoAddress--Text")
                    if(adr != None):
                        adr = adr.text
                        address.append(adr) 
                else:
                    num = i.find("td")
                    phone_number.append(num)

                count = count + 1     

        # 음식점 이름 | 전화번호 정보 둘 중 하나만 있는 경우 
        elif (len(list_soup) == 1):
            for i in list_soup:
                if(count == 0):
                    adr = i.find("span", "Restaurant__InfoAddress--Text")
                    if(adr != None):
                        adr = adr.text
                        address.append(adr) 
                        phone_number.append("NaN")
                else:
                    num = i.find("td")
                    phone_number.append(num)
                    address.append("NaN")

                count = count + 1
                
    details_site = []

In [102]:
print(len(name))
print(name)

176
['복성반점', '담쟁이', '영성방', '누리봄', '더덕먹은제주뚱돼지', '포차카센타', '은화수식당', '오공복이', '가장맛있는족발', '이따가', '긴타로', '쉬림핀', '소문난흥부네집', '열정짬뽕', '더브런치하우스', '동경하레', '한우장사', '바바분식', '통영식당', '키다리돼지국밥', '달달하단', '전가복', '정원', '오늘김해뒷고기', '야바이', '박배철과자점', '가우리매운갈비찜', '댄디', '제일돌곱창', '최가네촌국수', '연송칼국수', '우돼끼리', '천안문', '하남돼지집', '홍갓츠', '젠틀러커피', '칠칠켄터키', '1979남포통닭', '블랙업커피', '행복한밥상', '빨간염소', '대가초밥', '을숙도횟집', '쿠술집', '하기연진주냉면', '무봤나촌닭', '봉대박스파게티', '서가앤쿡', '충만치킨', '해운대신대구탕', '아웃백스테이크하우스', '대길림성', '연주정 숯불갈비', '순대마을', '이모식당', '족발쌀롱', '청송집', '카츠마루', '우리집으로식당', '에바돈가츠 키햐아', '돈미담', '하단본가콩나물국밥', '아방곱창', '다이레순두부', '미소돈까스', '플레이그라운드', '남다른감자탕', '면에빠지다', '노랑통닭', '아마스빈', '백미당', '짜가후라이드치킨', '새빨간죠스찜닭', '만족', '요코즈나', '오거리밀면', '아사', '인오프', '순두부식당', '청춘곱도리탕', '팔공티', '이디야커피', '콩불', '누리마을감자탕', '안가', '콩시루', '빽다방', '이쯔모', '청림', '가락정칼국수', '동원장수촌', '해월관', '일봉초밥', '어사리횟집', '통영굴구이', '본죽', '강변기사식당', '하단꼼장어', '꽃마름', '느티나무생한우숯불구이', '다오리과자점', '맘스터치', '툴라레스토랑', '송원식당', '조은참치', '대가야', '선미아구찜', '써브웨이', '고봉민김밥인', '카푸치노', '구이마루', '청양일초하단쭈꾸미', '다기야', '가락횟집', '강동농원', '닭쟁이피자쟁이', '에덴칼국수', '이바돔감자탕', '올타미스터스시', '김밥왕국', '설빙', '생생돈까스', '바르미샤브칼국수', '장작발효삼겹메주', '한옥마을전주비빔밥', '황금오리또오리', '바르다김선생', '소노', '대독장', '부산양곱창', '소담치킨', '여울돈단지', '더밥하우스', '겐슈', '소잡는날', '강정구의피자생각', '다빈향', '흑앤돈', '카페포그', '곧망할집연탄구이', '유가네닭갈비', '꾸븐', '장충동왕족발보쌈', '골목분식', '남해횟집', '동경', '홍익궁중전통육개장', '토종생오리농원', '오사마', '봉수산', '836바베큐치킨', '너랑나랑분식', '화족치즈쌈', '주인의주방', '모두와', '크랩비', '김해뒷고기', '하이뽕', '화덕애', '겐조', '맛있는파닭', '카페순덕', '성일숯불갈비', '북창동순두부', '티그로커피샵', '국밥파는남자보쌈파는여자', '칠공삼회관', '산호초횟집', '하단돼지국밥', '백스비어', '리춘시장', '백호횟집', '내키고', '멕스타코', '동아분식', '하단끝집']

In [103]:
print(len(address))
print(address)

176
['부산시 사하구 하단동 605-38', '부산시 사하구 하단동 198', '부산시 사하구 하단동 1179-7', '부산시 사하구 하단동 1151-14', '부산시 사하구 하단동 515-25', '부산시 사하구 하단동 499-21', '부산시 사하구 하단동 494-3', '부산시 사하구 하단동 529-6', '부산시 사하구 하단동 527-4', '부산시 사하구 하단동 605-13', '부산시 사하구 하단동 527-18', '부산시 사하구 하단동 116-7 B동 1F', '부산시 사하구 하단동 503-4', '부산시 사하구 하단동 615-9', '부산시 사하구 하단동 504-10 1F', '부산시 사하구 하단동 476-10', '부산시 사하구 하단동 616-2', '부산시 사하구 하단동 199-1', '부산시 사하구 하단동 517-28', '부산시 사하구 하단동 619-2', '부산시 사하구 하단동 887-7 헤를리치 1F', '부산시 사하구 하단동 870-19', '부산시 사하구 하단동 589-31', '부산시 사하구 하단동 504-2', '부산시 사하구 하단동 504-7', '부산시 사하구 하단동 526-6 아트몰링 부산점 B1', '부산시 사하구 하단동 505-15', '부산시 사하구 하단동 497-1', '부산시 사하구 하단동 490-15', '부산시 사하구 하단동 1180-14', '부산시 사하구 하단동 503-10 1F', '부산시 사하구 하단동 511-1 1F', '부산시 사하구 하단동 615-8', '부산시 사하구 하단동 512-3', '부산시 사하구 하단동 497-18 1F', '부산시 사하구 하단동 490-25 1-2F', '부산시 사하구 하단동 499-29', '부산시 사하구 하단동 887-2', '부산시 사하구 하단동 1149-4', '부산시 사하구 하단동 503-26', '부산시 사하구 하단동 624-23', '부산시 사하구 하단동 534-2 3F', '부산시 사하구 하단동 504-23', '부산시 사하구 하단동 511-10 도스베건물 4F', '부산시 사하구 하단동 239-1', '부산시 사하구 하단동 497-8', '부산시 사하구 하단동 492-41', '부산시 사하구 하단동 511-7 정석빌딩 2F', '부산시 사하구 하단동 477-7', '부산시 사하구 하단동 525-21', '부산시 사하구 하단동 525-7', '부산시 사하구 하단동 1185-4', '부산시 사하구 하단동 889-1', '부산시 사하구 하단동 527-36', '부산시 사하구 하단동 816-7', '부산시 사하구 하단동 499-31', '부산시 사하구 하단동 845-28', '부산시 사하구 하단동 492-17', '부산시 사하구 하단동 816-3', '부산시 사하구 하단동 623-11 1F', '부산시 사하구 하단동 474', '부산시 사하구 하단동 596-3 1F', '부산시 사하구 하단동 489-22', '부산시 사하구 하단동 885-1', '부산시 사하구 하단동 870-236', '부산시 사하구 하단동 497-18', '부산시 사하구 하단동 506-6', '부산시 사하구 하단동 520-1', '부산시 사하구 하단동 489-48', '부산시 사하구 하단동 497-28', '부산시 사하구 하단동 526-6 아트몰링 부산점', '부산시 사하구 하단동 492-5', '부산시 사하구 하단동 494-4', '부산시 사하구 하단동 496-6', '부산시 사하구 하단동 489-2', '부산시 사하구 하단동 608-17', '부산시 사하구 하단동 590-14 2F', '부산시 사하구 하단동 510-19', '부산시 사하구 하단동 497-8', '부산시 사하구 하단동 498-19', '부산시 사하구 하단동 496-13 1F', '부산시 사하구 하단동 589-13', '부산시 사하구 하단동 816-3', '부산시 사하구 하단동 528-6', '부산시 사하구 하단동 617-17', '부산시 사하구 하단동 596-3', '부산시 사하구 하단동 816-3', '부산시 사하구 하단동 498-20', '부산시 사하구 하단동 605-13', '부산시 사하구 하단동 887-8', '부산시 사하구 하단동 1218', '부산시 사하구 하단동 522-14', '부산시 사하구 하단동 614-1', '부산시 사하구 하단동 505-16', '부산시 사하구 하단동 608-73', '부산시 사하구 하단동 1180-10', '부산시 사하구 하단동 602-3', '부산시 사하구 하단동 514-31', '부산시 사하구 하단동 528-11 삼성전자사옥 2F', '부산시 사하구 하단동 607-4', '부산시 사하구 하단동 623-2', '부산시 사하구 하단동 1180-10', '부산시 사하구 하단동 490-20 라인파크빌딩 5F', '부산시 사하구 하단동 625-3', '부산시 사하구 하단동 526-11', '부산시 사하구 하단동 894-2', '부산시 사하구 하단동 431', '부산시 사하구 하단동 492-2', '부산시 사하구 하단동 592-3', '부산시 사하구 하단동 526-11 프린스빌딩 2F', '부산시 사하구 하단동 512-30', '부산시 사하구 하단동 607-9', '부산시 사하구 하단동 1168', '부산시 사하구 하단동 1165-9', '부산시 사하구 하단동 511-3', '부산시 사하구 하단동 67-3', '부산시 사하구 하단동 499-38', '부산시 사하구 하단동 534-13', '부산시 사하구 하단동 595-23', '부산시 사하구 하단동 503-12', '부산시 사하구 하단동 528-9', '부산시 사하구 하단동 251-5', '부산시 사하구 하단동 893-9', '부산시 사하구 하단동 144-5', '부산시 사하구 하단동 526-6 아트몰링 14F', '부산시 사하구 하단동 498-4', '부산시 사하구 하단동 529-11', '부산시 사하구 하단동 476-10', '부산시 사하구 하단동 592-12', '부산시 사하구 하단동 498-12', '부산시 사하구 하단동 870-207', '부산시 사하구 하단동 116-2', '부산시 사하구 하단동 497-7', '부산시 사하구 하단동 517-1', '부산시 사하구 하단동 513-7', '부산시 사하구 하단동 240-7', '부산시 사하구 하단동 476-3', '부산시 사하구 하단동 487-5', '부산시 사하구 하단동 498-12 2F', '부산시 사하구 하단동 490-16 은혜원룸', '부산시 사하구 하단동 497-17', '부산시 사하구 하단동 500-4', '부산시 사하구 하단동 476-1', '부산시 사하구 하단동 624-8', '부산시 사하구 하단동 589-24', '부산시 사하구 하단동 505-18', '부산시 사하구 하단동 589-22', '부산시 사하구 하단동 600-1', '부산시 사하구 하단동 489-33', '부산시 사하구 하단동 476-6', '부산시 사하구 하단동 52-2', '부산시 사하구 하단동 496-13', '부산시 사하구 하단동 511-10', '부산시 사하구 하단동 499-21', '부산시 사하구 하단동 490-1', '부산시 사하구 하단동 529-4', '부산시 사하구 하단동 498-21', '부산시 사하구 하단동 496-12', '부산시 사하구 하단동 618-23', '부산시 사하구 하단동 511-1 1F', '부산시 사하구 하단동 485-4', '부산시 사하구 하단동 505-12', '부산시 사하구 하단동 499-29', '부산시 사하구 하단동 526-6', '부산시 사하구 하단동 497-27 2F', '부산시 사하구 하단동 885-1 1F', '부산시 사하구 하단동 489-43', '부산시 사하구 하단동 1165-7', '부산시 사하구 하단동 870-166', '부산시 사하구 하단동 527-23', '부산시 사하구 하단동 490-25 B-102호', '부산시 사하구 하단동 870-17 1F', '부산시 사하구 하단동 489-23 1F', '부산시 사하구 하단동 522-24 1F', '부산시 사하구 하단동 492-29', '부산시 사하구 하단동 500-4']

In [104]:
print(len(phone_number))
print(phone_number)

176
[<td>051-291-7834</td>, <td>051-900-8935</td>, <td>051-515-7119</td>, <td>051-206-0750</td>, <td>051-202-9234</td>, <td>0507-1415-0715</td>, <td>051-292-8250</td>, <td>051-292-5082</td>, <td>051-294-0116</td>, <td>010-3573-6157</td>, <td>051-207-8252</td>, <td>0507-1442-1189</td>, <td>051-208-4763</td>, <td>051-204-1050</td>, <td>0507-1436-1283</td>, <td>070-8882-0814</td>, <td>051-206-6003</td>, 'NaN', <td>051-205-8500</td>, <td>051-203-5557</td>, <td>070-7543-5062</td>, <td>051-207-7558</td>, <td>051-204-6858</td>, <td>051-946-3200</td>, <td>051-917-4979</td>, 'NaN', <td>051-202-2292</td>, <td>051-203-8383</td>, <td>051-202-1137</td>, <td>051-292-0053</td>, <td>051-208-8587</td>, <td>051-292-2888</td>, <td>051-204-9797</td>, <td>051-242-8732</td>, <td>051-715-1104</td>, <td>0507-1370-8562</td>, <td>051-946-7717</td>, <td>051-945-1979</td>, <td>051-203-7791</td>, <td>051-292-7154</td>, 'NaN', <td>051-206-7586</td>, <td>051-205-0440</td>, <td>051-203-3578</td>, <td>051-207-6555</td>, <td>051-205-9233</td>, <td>051-202-0021</td>, <td>051-293-0020</td>, <td>051-201-5592</td>, <td>051-204-7511</td>, <td>051-205-4161</td>, <td>051-202-6735</td>, <td>051-206-2259</td>, <td>051-202-7080</td>, <td>051-203-9880</td>, <td>051-202-6840</td>, <td>051-322-3049</td>, <td>051-208-1793</td>, <td>051-201-1550</td>, <td>051-201-2102</td>, <td>051-206-3339</td>, <td>0507-1326-2350</td>, <td>051-292-7476</td>, <td>051-293-7373</td>, <td>051-992-0007</td>, <td>070-4149-0096</td>, <td>051-203-2110</td>, <td>051-201-0750</td>, <td>051-201-2666</td>, <td>051-293-0777</td>, <td>051-999-7450</td>, <td>051-202-9729</td>, <td>051-205-7333</td>, <td>051-207-9948</td>, 'NaN', <td>051-207-6369</td>, <td>051-294-1050</td>, 'NaN', 'NaN', <td>051-292-6661</td>, <td>051-315-4801</td>, <td>051-291-2940</td>, <td>051-904-2211</td>, <td>051-291-1777</td>, <td>051-207-7852</td>, 'NaN', <td>051-914-8285</td>, <td>051-207-8707</td>, <td>051-207-0147</td>, <td>051-208-8585</td>, <td>051-202-4100</td>, <td>051-292-7862</td>, <td>051-205-4900</td>, <td>051-203-1346</td>, <td>051-293-4197</td>, <td>051-203-9919</td>, <td>051-202-6247</td>, <td>051-201-3330</td>, <td>051-204-9933</td>, <td>051-291-7831</td>, <td>051-201-2249</td>, <td>051-205-2223</td>, <td>051-204-8410</td>, <td>051-207-2629</td>, <td>051-208-3735</td>, <td>051-204-9090</td>, <td>051-271-4567</td>, <td>070-8876-6040</td>, <td>051-201-5743</td>, <td>051-291-4340</td>, <td>051-205-7292</td>, <td>051-202-6888</td>, <td>051-293-9279</td>, <td>051-293-4959</td>, <td>051-204-5802</td>, <td>051-202-3234</td>, <td>051-291-7336</td>, 'NaN', <td>051-205-2441</td>, <td>051-291-1056</td>, <td>070-8878-2282</td>, <td>051-291-3458</td>, <td>051-293-5700</td>, <td>051-204-5066</td>, <td>051-999-7554</td>, <td>051-901-9200</td>, <td>051-202-3999</td>, <td>051-204-2443</td>, <td>051-294-0010</td>, <td>051-316-9313</td>, <td>051-293-6166</td>, <td>051-291-5777</td>, <td>051-203-5184</td>, <td>051-207-7757</td>, <td>051-292-8267</td>, <td>051-291-8599</td>, <td>051-293-3335</td>, <td>070-4797-2929</td>, <td>010-2595-0820</td>, <td>051-291-9285</td>, <td>051-293-1039</td>, <td>051-987-8268</td>, <td>0503-5339-0394</td>, <td>051-293-4376</td>, <td>051-203-5222</td>, <td>051-294-2048</td>, <td>051-271-6661</td>, <td>051-291-6400</td>, <td>051-205-5578</td>, <td>051-202-9020</td>, <td>051-294-8836</td>, <td>051-291-4748</td>, <td>051-203-9888</td>, <td>051-324-2094</td>, <td>051-201-3443</td>, <td>051-293-1777</td>, <td>051-291-9279</td>, <td>051-203-9366</td>, <td>051-202-1144</td>, <td>051-206-9822</td>, <td>051-293-7776</td>, 'NaN', <td>051-207-1603</td>, <td>051-999-7555</td>, <td>0507-1321-3765</td>, <td>051-294-9884</td>, 'NaN', <td>051-293-6762</td>, <td>010-4580-6451</td>, <td>051-206-8311</td>, <td>051-292-0901</td>, <td>010-7487-1055</td>, <td>070-8868-8025</td>, <td>070-8823-2022</td>, <td>051-292-9786</td>, <td>051-201-1414</td>]

---
# 02. Data Processing
---

In [115]:
real_phone_number = []

In [116]:
for i in phone_number:
    num = str(i)
    num = num.replace("<td>", "")
    num = num.replace("</td>", "")
    real_phone_number.append(num)

In [123]:
print(len(real_phone_number))

176

---
# 03. Create: DataFrame
---

In [117]:
data = {
    "Restaurant_name": name,
    "Address": address,
    "Phone_number": real_phone_number
}

In [118]:
df = pd.DataFrame(data)
df

    Restaurant_name                Address   Phone_number
0              복성반점     부산시 사하구 하단동 605-38   051-291-7834
1               담쟁이        부산시 사하구 하단동 198   051-900-8935
2               영성방     부산시 사하구 하단동 1179-7   051-515-7119
3               누리봄    부산시 사하구 하단동 1151-14   051-206-0750
4         더덕먹은제주뚱돼지     부산시 사하구 하단동 515-25   051-202-9234
..              ...                    ...            ...
171            백호횟집  부산시 사하구 하단동 870-17 1F  010-7487-1055
172             내키고  부산시 사하구 하단동 489-23 1F  070-8868-8025
173            멕스타코  부산시 사하구 하단동 522-24 1F  070-8823-2022
174            동아분식     부산시 사하구 하단동 492-29   051-292-9786
175            하단끝집      부산시 사하구 하단동 500-4   051-201-1414

[176 rows x 3 columns]

---
# 04. Save: DataFrame
---

In [121]:
df.to_csv(
    "/content/drive/MyDrive/restaurant_information.csv", sep=",", encoding="utf-8"
)

---
# 05. Load: csv file
---

In [122]:
df = pd.read_csv("/content/drive/MyDrive/restaurant_information.csv", index_col=0)
df

    Restaurant_name                Address   Phone_number
0              복성반점     부산시 사하구 하단동 605-38   051-291-7834
1               담쟁이        부산시 사하구 하단동 198   051-900-8935
2               영성방     부산시 사하구 하단동 1179-7   051-515-7119
3               누리봄    부산시 사하구 하단동 1151-14   051-206-0750
4         더덕먹은제주뚱돼지     부산시 사하구 하단동 515-25   051-202-9234
..              ...                    ...            ...
171            백호횟집  부산시 사하구 하단동 870-17 1F  010-7487-1055
172             내키고  부산시 사하구 하단동 489-23 1F  070-8868-8025
173            멕스타코  부산시 사하구 하단동 522-24 1F  070-8823-2022
174            동아분식     부산시 사하구 하단동 492-29   051-292-9786
175            하단끝집      부산시 사하구 하단동 500-4   051-201-1414

[176 rows x 3 columns]